body {
    margin: auto;
    background-color: #fff;
}

.counter {
    background-color: #2020af;
    color: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px #21212150;
}

button {
    margin: 10px 20px;
    padding: 16px 32px;
    border-radius: 10px;
    box-shadow: 0 6px 8px #21212130;
    font-size: 18px;
    transition-duration: .5s;

}

.add {
    border: 2px solid #770bf3;
    background-color: #770bf3;
    color: #fff;
}

.add:hover {
    background-color: transparent;
    color: #212121;
}

.sub {
    border: 2px solid #ad1717;
    background-color:transparent ;
}
.sub:hover{
    background-color:#ad1717 ;
    color: #fff;
}
.btn-container{
    display: flex;
    justify-content: center;
}